.add_blocks{
	display:none;
	background:#dedede;
	input{
		font-size:120%;
	}
	textarea{
		font-size:120%;
	}
	.res{
		padding:20px;
		border-radius:5px;
		width:40px;
		background:rgb(215, 242, 180);
		float:right;
	}
}