%forcirclesignal{
	width:20px;
	height:20px;
	border-radius:10px;
	float:left;
	margin-right:5px;
}
.circle_red{
	@extend %forcirclesignal;
	background:red;
}

.circle_green{
	@extend %forcirclesignal;
	background:#00f700;
}

.circle_blue{
	@extend %forcirclesignal;
	background:#006FFF;
}
.version{
	width:70px;
	font-weight:bold;
	cursor:pointer;
	:hover{
		color:green;
	}
}
