// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'colorcircle';
@import 'background';
@import 'blocks';
@import 'blocks_add';

.wrapper{
	font-family: 'Balsamiq Sans', cursive;
} 
	
input:hover, textarea:hover {outline: none;}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.logo_ga{
	img{
		max-width:100px;
	}
}
.vopr{
	height:400px;
	transform: rotate(90deg);
}