.circle_blue, .circle_green, .circle_red {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  float: left;
  margin-right: 5px;
}

.circle_red {
  background: red;
}

.circle_green {
  background: #00f700;
}

.circle_blue {
  background: #006FFF;
}

.version {
  width: 70px;
  font-weight: bold;
  cursor: pointer;
}
.version :hover {
  color: green;
}

.blocks {
  border: 1px solid #9DA8C0;
  border-radius: 20px;
  padding: 10px;
}
.blocks .desc {
  font-size: 130%;
}

.main_teg_link {
  text-decoration: none;
}

.add_blocks {
  display: none;
}
.add_blocks input {
  font-size: 120%;
}
.add_blocks textarea {
  font-size: 120%;
}
.add_blocks .res {
  padding: 20px;
  border-radius: 5px;
  width: 40px;
  background: #d7f2b4;
  float: right;
}

.wrapper {
  font-family: "Balsamiq Sans", cursive;
}

input:hover, textarea:hover {
  outline: none;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.logo_ga img {
  max-width: 100px;
}
